
body {
    margin: 0;
    background-color: black;
    font-family: 'Noto Sans TC', sans-serif;
    max-width: 100vw;
}

.title {
    z-index: 1;
    max-width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;

}

.titlecolor{
        color:#33CCAE;
}


h1 {
    font-size: 5rem;
    z-index: 99;

}

h2 {

    font-size: 5rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 10vh;
}

h4 {
    font-size: 1.5rem;
}


/*video*/

.video iframe {
    background: #000;
    position: auto 0px 0px 0px;
    z-index: -9;
    pointer-events: none;
    width: 100%;
    height: 100vh;
}

/* Canvas container */


.container {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;

}


/* Content */

.content {
    padding: 3rem 0;
}


.js-section {
    width: 100vw;
    max-width: 700px;
}

.js-gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

.js-gallery-content {
    font-size: 0;
    text-align: center;
}

.js-gallery-content img {
    max-width: 100%;
    margin: 10px 0;
}

.js-image {
    max-width: 50vw;
}

/*緬人故事*/
.w3-tag{
    background-color: #232323;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.storytitle{
    font-size: 3rem;
    line-height: 7rem;
    background-color: #232323;
    height: 50vh;
    max-width:100vw;
    padding: 5rem 0 0 10rem
}

.storycontent{
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding: 3rem 0 0 1rem;
    width: 50vw;
}

.storycontent p{
    line-height: 2rem;  
    padding:1rem 0 1rem 0 ;
}

/*timeline*/

.timetitle{
    color:#2EAF96;
    margin: 0;
    padding: 0.8rem 0 0.3rem 0;
}
.line {
    font-size: 1rem;
}

.history {
    background-image: url("../assets/timelineback.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}

.timeline {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #33CCAE;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -80;
}

.timebox {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    max-width: 43.5vw;
}

.timebox::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}


.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FDFCEC;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FDFCEC transparent transparent;
}

.right::after {
    left: -16px;
}



.contenttime {
    padding: 20px 30px;
    background-color: #FDFCEC;
    position: relative;
    border-radius: 6px;
}



/*countryscroll*/

#countryscroll {
    background-image: url("../assets/war2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:200vh;
    position:relative;
    width: 100%;
}

.scrollable {
    max-height: 15vh;
}

/*count*/

.countbackground {
    background-attachment: fixed;
    background-size: cover;
    min-height: 70vh;
    text-align: center;
    line-height: 2rem;
    max-width: 100vw;
    background-image: url(../assets/counterbackground.jpg);
}

.columns {
    -webkit-columns: 200px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 200px 2;
    /* Firefox */
    columns: 200px 2;
}

.whitemask {
    background-color: rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    z-index: 10;
    padding: 7rem 5rem 2rem 0;
}


#count1 {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#count2 {
    padding-top: 4rem
}

#count3 {
    padding-top: 2.0rem;
}

#countt {
    padding: 2rem
}

#count1,
.count1,
#count2,
#count3{
    color: white;
}

.counter,
.counter2{
     padding: 2rem
}

/*animate*/

.slideanimate {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*RWD*/

/*timelineRWD*/

@media all and (max-width: 600px) {

    .timeline::after {
        left: 31px;
    }


    .timebox {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }


    .timebox::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FDFCEC transparent transparent;
    }


    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
    .columns {
        -webkit-columns: 200vw 2;
        /* Chrome, Safari, Opera */
        -moz-columns: 200vw 2;
        /* Firefox */
        columns: 200vw 2;

    }
/*
    #scrollable {
        position: absolute;
        width: 30vw;
        top: 25%;
        left: 0vw;
    }
*/
}

@media (min-aspect-ratio: 16/9) {
    html {
        font-size: 16px;
    }
}

@media (max-aspect-ratio: 16/9) {
    html {
        font-size: 16px;
    }
}

@media all and (max-width: 800px) {
    html {
        font-size: 11px;
    }
}

}

@media all and (max-width: 700px) {
    html {
        font-size: 10px;
        
    }
    blockquote {
		font-size: 1.45rem;
	}



@media all and (max-width: 500px) {
    html {
        font-size: 11px;
    }
/*
           #scrollable {
        position: absolute;
        width: 30vw;
        top: 25vh;
        left: 0vw;
    }
*/
}
